<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

    <h1>Sign Up</h1>

    <form method="post" action="/signup">
        <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        </p>
        <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        </p>
        <p>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password">
        </p>
        <p>
        <button type="submit">Sign Up</button>
        </p>
    </form>

</body>
</html>